
.nai-tag-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid rgb(34, 37, 63);
  border-top: none;
  box-sizing: border-box;
  padding: 0 20px 20px;
  background: rgb(14, 15, 33);
}

.nai-tag {
  margin: 2px;
  padding: 2px;
  background-color: rgb(25, 27, 49);
  border: 1px solid rgb(34, 37, 63);
  border-radius: 2px;
  cursor: pointer;
  z-index: 99;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nai-tag-overlay {
  margin: 0;
}